# Cypress artifacts
cypress/screenshots/
cypress/videos/

# Node modules
node_modules/

# Build output
dist/
build/

# VSCode settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Coverage
coverage/

/instrumented/

